---
apiVersion: v1
kind: Service
metadata:
  name: open-webui
  namespace: docker-services
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: open-webui
  namespace: docker-services
  labels:
    kubernetes.io/service-name: open-webui
addressType: IPv4
endpoints:
- addresses:
  - 192.168.1.40
ports:
- port: 8083
  protocol: TCP
