---
apiVersion: v1
kind: Service
metadata:
  name: profilarr
  namespace: docker-services
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: profilarr
  namespace: docker-services
subsets:
- addresses:
  - ip: 192.168.1.40
  ports:
  - port: 3001
    protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: profilarr
  namespace: docker-services
  labels:
    kubernetes.io/service-name: profilarr
addressType: IPv4
endpoints:
- addresses:
  - 192.168.1.40
ports:
- port: 3001
  protocol: TCP
