
# Loads default set of integrations. Do not remove.
default_config:


homeassistant:
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 127.0.0.1
        - 192.168.1.0/24
        - 10.42.0.0/16
        - 172.20.0.0/24
      allow_bypass_login: true
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 172.20.0.0/16
    - 192.168.1.0/24
    - 10.42.0.0/16
  ip_ban_enabled: false
  login_attempts_threshold: 5

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
