nodeSelector:
  kubernetes.io/hostname: "k3s"

# 2. Networking (Identical to Primary)
service:
  main:
    type: ClusterIP
    ports:
      http:
        port: 80
  dns-tcp:
    enabled: true
    type: ClusterIP
    externalTrafficPolicy: null
    ports:
      dns-tcp:
        enabled: true
        port: 53
        protocol: TCP
  dns-udp:
    enabled: true
    type: ClusterIP
    externalTrafficPolicy: null
    ports:
      dns-udp:
        enabled: true
        port: 53
        protocol: UDP

# 3. Persistence (Save data to Freebox VM Disk)
# We use the same "local-path" class, but k3s knows to put it on the Freebox's disk
persistence:
  config:
    enabled: true
    storageClass: "local-path"
    accessMode: ReadWriteOnce
    size: 1Gi
  data:
    enabled: true
    storageClass: "local-path"
    accessMode: ReadWriteOnce
    size: 5Gi # Smaller disk is fine for backup
  tls:
    enabled: true
    type: secret
    name: adguard-tls-secret
    mountPath: /opt/adguardhome/ssl
    readOnly: true
# 4. Replica Mode
# This doesn't strictly change the config, but reminds us this is the passive node.
env:
  TZ: "Europe/Paris"


config: |
  tls:
    enabled: true
    server_name: dns.erwanleboucher.dev
    force_https: false
    port_https: 443
    port_dns_over_tls: 853
    port_dns_over_quic: 784
    allow_unencrypted_doh: false
    certificate_chain: /opt/adguardhome/ssl/tls.crt
    private_key: /opt/adguardhome/ssl/tls.key
