# ------------------------------------------------
# PRIMARY ADGUARD (N150)
# ------------------------------------------------

# 1. Pin to the N150 Node
nodeSelector:
  kubernetes.io/hostname: "home"

# 2. Networking (Internal Only)
# We use ClusterIP because MetalLB will sit in front of this as the single VIP.
service:
  main:
    type: ClusterIP
    ports:
      http:
        port: 80 # Admin Dashboard
  dns-tcp:
    enabled: true
    type: ClusterIP
    externalTrafficPolicy: null
    ports:
      dns-tcp:
        enabled: true
        port: 53
        protocol: TCP
  dns-udp:
    enabled: true
    type: ClusterIP
    externalTrafficPolicy: null
    ports:
      dns-udp:
        enabled: true
        port: 53
        protocol: UDP

# 3. Persistence (Save data to N150 NVMe)
persistence:
  config:
    enabled: true
    storageClass: "local-path"
    accessMode: ReadWriteOnce
    size: 1Gi
  data:
    enabled: true
    storageClass: "local-path"
    accessMode: ReadWriteOnce
    size: 10Gi
  tls:
    enabled: true
    type: secret
    name: adguard-tls-secret
    mountPath: /opt/adguardhome/ssl
    readOnly: true
metrics:
  enabled: true
  serviceMonitor:
    enabled: false

config: |
  tls:
    enabled: true
    server_name: dns.erwanleboucher.dev
    force_https: false
    port_https: 443
    port_dns_over_tls: 853
    port_dns_over_quic: 784
    allow_unencrypted_doh: false
    certificate_chain: /opt/adguardhome/ssl/tls.crt
    private_key: /opt/adguardhome/ssl/tls.key
