apiVersion: apps/v1
kind: Deployment
metadata:
  name: adguard-sync
  namespace: adguard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adguard-sync
  template:
    metadata:
      labels:
        app: adguard-sync
    spec:
      containers:
        - name: sync
          image: ghcr.io/bakito/adguardhome-sync
          env:
            # We use the internal K8s DNS names to talk to specific pods
            - name: ORIGIN_URL
              value: "http://adguard-primary-adguard-home"
            - name: REPLICA_URL
              value: "http://adguard-backup-adguard-home"
            - name: CRON
              value: "*/1 * * * *"
            - name: LOG_LEVEL
              value: "info"
