---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: docker-services
spec:
  type: ClusterIP
  ports:
  - port: 8096
    targetPort: 8096
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: jellyfin
  namespace: docker-services
subsets:
- addresses:
  - ip: 192.168.1.40
  ports:
  - port: 8096
---
