http:
  routers:
    ha-router:
      rule: "Host(`home.erwanleboucher.dev`)"
      service: "ha-service"
      entryPoints:
        - "websecure"
      tls:
        certResolver: "myresolver"
    adguard-web-router:
      rule: "Host(`dns.erwanleboucher.dev`)"
      service: "adguard-web-service"
      entryPoints:
        - "websecure"
      tls:
        certResolver: "myresolver"
    homepage-router:
      rule: "Host(`dash.erwanleboucher.dev`)"
      service: "homepage-service"
      entryPoints: ["websecure"]
      tls:
        certResolver: "myresolver"
    uptime-router:
      rule: "Host(`status.erwanleboucher.dev`)"
      service: "uptime-service"
      entryPoints: ["websecure"]
      tls:
        certResolver: "myresolver"

  services:
    ha-service:
      loadBalancer:
        servers:
          # Points to the Docker Gateway (The Host IP from inside Docker)
          - url: "http://192.168.1.40:8123"
    adguard-web-service:
        loadBalancer:
          servers:
            - url: "http://192.168.1.54:3000"
    homepage-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.55:80"
    uptime-service:
      loadBalancer:
        servers:
          # Point to the new K3s VIP
          - url: "http://192.168.1.56:80"

tcp:
  routers:
    # 3. DNS-over-TLS (Port 853)
    adguard-dot:
      rule: "HostSNI(`dns.erwanleboucher.dev`)"
      service: "adguard-dot-service"
      entryPoints:
        - "dot"
      tls:
        passthrough: true # AdGuard handles the cert, not Traefik

  services:
    adguard-dot-service:
      loadBalancer:
        servers:
          # This points to the MetalLB VIP (Port 853)
          - address: "192.168.1.53:853"
