---

services:
  renovate:
    image: ghcr.io/renovatebot/renovate:42.54.1@sha256:c4aa5b11d1462705fb2c315970600cedb326d80b24ba1883f8098d93934c4483
    container_name: renovate
    profiles:
      - "renovate"
    volumes:
      - ${INSTALL_DIRECTORY}/renovate:/opt/renovate
    networks:
      yams_network:
    environment:
      - LOG_LEVEL=info
      - RENOVATE_CONFIG_FILE=/opt/renovate/config.js
      - RENOVATE_TOKEN=${RENOVATE_TOKEN}
      - RENOVATE_REPOSITORIES=${RENOVATE_REPOSITORIES}
      - RENOVATE_GIT_AUTHOR=${RENOVATE_GIT_AUTHOR}
