---

services:
  renovate:
    image: ghcr.io/renovatebot/renovate:42.66.2@sha256:8b981eeb9fffad3b68382d1eae58bc64bf8226abd3f7821a4c0375da3d4dd33e
    container_name: renovate
    profiles:
      - "renovate"
    volumes:
      - ${INSTALL_DIRECTORY}/renovate:/opt/renovate
    networks:
      yams_network:
    environment:
      - LOG_LEVEL=debug
      - RENOVATE_CONFIG_FILE=/opt/renovate/config.js
      - RENOVATE_TOKEN=${RENOVATE_TOKEN}
      - RENOVATE_REPOSITORIES=${RENOVATE_REPOSITORIES}
  diun:
    image: crazymax/diun:4.31.0
    container_name: diun
    command: serve
    volumes:
      - ${INSTALL_DIRECTORY}/config/diun:/data
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
        TZ: Europe/Paris
        DIUN_WATCH_WORKERS: 20
        DIUN_WATCH_SCHEDULE: "0 */6 * * *"
        DIUN_WATCH_JITTER: 30s
        DIUN_PROVIDERS_DOCKER: "true"
        DIUN_NOTIF_DISCORD_WEBHOOKURL: ${DISCORD_WEBHOOK}
        DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT: "true"
    restart: always
