---

services:
  renovate:
    image: ghcr.io/renovatebot/renovate:42.56.0@sha256:8df7f90276f21a02a967c26fcd2a709bbada3c226cea3fb029ea86c7e44b24d2
    container_name: renovate
    profiles:
      - "renovate"
    volumes:
      - ${INSTALL_DIRECTORY}/renovate:/opt/renovate
    networks:
      yams_network:
    environment:
      - LOG_LEVEL=info
      - RENOVATE_CONFIG_FILE=/opt/renovate/config.js
      - RENOVATE_TOKEN=${RENOVATE_TOKEN}
      - RENOVATE_REPOSITORIES=${RENOVATE_REPOSITORIES}
      - RENOVATE_GIT_AUTHOR=${RENOVATE_GIT_AUTHOR}
