---

services:
  renovate:
    image: ghcr.io/renovatebot/renovate:42.52.8@sha256:a14953aa174b9a7f599045cb4d1068d076d3784b61949b9bc4b61dd4ec9cb299
    container_name: renovate
    profiles:
      - "renovate"
    volumes:
      - ${INSTALL_DIRECTORY}/renovate:/opt/renovate
    networks:
      yams_network:
    environment:
      - LOG_LEVEL=info
      - RENOVATE_CONFIG_FILE=/opt/renovate/config.js
      - RENOVATE_TOKEN=${RENOVATE_TOKEN}
      - RENOVATE_REPOSITORIES=${RENOVATE_REPOSITORIES}
      - RENOVATE_GIT_AUTHOR=${RENOVATE_GIT_AUTHOR}
