---

services:
  renovate:
    image: ghcr.io/renovatebot/renovate:42.58.0@sha256:9e659e36d518d26cb29cee775968e4caee01bddb1ce913d4a89450cc484d2c38
    container_name: renovate
    profiles:
      - "renovate"
    volumes:
      - ${INSTALL_DIRECTORY}/renovate:/opt/renovate
    networks:
      yams_network:
    environment:
      - LOG_LEVEL=info
      - RENOVATE_CONFIG_FILE=/opt/renovate/config.js
      - RENOVATE_TOKEN=${RENOVATE_TOKEN}
      - RENOVATE_REPOSITORIES=${RENOVATE_REPOSITORIES}
      - RENOVATE_GIT_AUTHOR=${RENOVATE_GIT_AUTHOR}
