---
apiVersion: v1
kind: Service
metadata:
  name: autobrr
  namespace: docker-services
spec:
  type: ClusterIP
  ports:
    - port: 7474
      targetPort: 7474
      protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: autobrr
  namespace: docker-services
  labels:
    kubernetes.io/service-name: autobrr
addressType: IPv4
endpoints:
  - addresses:
      - 192.168.1.40
ports:
  - port: 7474
    protocol: TCP
