# ---------------------------------------------------------
# HOMEPAGE CONFIGURATION (K3s / Helm)
# ---------------------------------------------------------
replicaCount: 2

image:
  repository: ghcr.io/gethomepage/homepage
  tag: latest@sha256:b6ac42c31845ea7c862d71451c16413a6284430d8ff08e16ad791f42718a7c71
  pullPolicy: Always

# Expose via MetalLB VIP (.55)
service:
  main:
    controller: main
    type: LoadBalancer
    loadBalancerIP: 192.168.1.55
    annotations:
      metallb.universe.tf/allow-shared-ip: "homepage-vip"
    ports:
      http:
        port: 80
        targetPort: 3000

env:
  - name: HOMEPAGE_ALLOWED_HOSTS
    value: "*"


# ---------------------------------------------------------
# DASHBOARD CONTENT
# ---------------------------------------------------------
config:
  settings:
    title: Erwan's Home Lab
    background:
      image: https://images.unsplash.com/photo-1506318137071-a8bcbf6d9436?ixlib=rb-1.2.1&auto=format&fit=crop&w=2560&q=80
      opacity: 0.5
    layout:
      Media:
        style: row
        columns: 4
      Automation:
        style: row
        columns: 4
      System:
        style: row
        columns: 4

  widgets:
    - resources:
        cpu: true
        memory: true
        disk: /

  services:
    - Media:
      - Jellyfin:
          icon: jellyfin.png
          href: https://watch.erwanleboucher.dev
          description: Media Player
          widget:
            type: jellyfin
            url: http://192.168.1.40:8096
            key: 79dff55828df4d61b4314891d0eb3731
      - Jellyseerr:
          icon: jellyseerr.png
          href: https://request.erwanleboucher.dev
          description: Request Media
          widget:
            type: jellyseerr
            url: http://192.168.1.40:5055
            key: MTc2Mzc1NjA3MDcwMDQ0YWY4OWY4LTkwZTUtNGZhMS04OTY3LWE1Zjc3YzBhOTljNw==

    - Automation:
      - Home Assistant:
          icon: home-assistant.png
          href: https://home.erwanleboucher.dev
          description: Home Automation
          widget:
            type: homeassistant
            url: http://192.168.1.40:8123
            key: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJlNWEwZDQ5MzVjZDU0MDAzYjU0ZGFmNDIyMTdhNmE5MiIsImlhdCI6MTc2NDE1Mzc1MSwiZXhwIjoyMDc5NTEzNzUxfQ.5G5tIUkk1n-aC2vpNleZ-VYOO8YE-XMTXv-tPkcFOoU"
            custom:
              - state: sensor.h5075_9d45_temperature
                label: bedroom temperature
              - state: sensor.h5075_c14b_temperature
                label: living room temperature
      - Sonarr:
          icon: sonarr.png
          href: https://sonarr.erwanleboucher.dev
          description: TV Shows
          widget:
            type: sonarr
            url: http://192.168.1.40:8989
            key: 38ebf8ff49c54a76a5039a943ad08577
      - Radarr:
          icon: radarr.png
          href: https://radarr.erwanleboucher.dev
          description: Movies
          widget:
            type: radarr
            url: http://192.168.1.40:7878
            key: df673502c53e41e1b58c60b4f9dc97e9
      - Bazarr:
          icon: bazarr.png
          href: https://bazarr.erwanleboucher.dev
          description: Subtitles
          widget:
            type: bazarr
            url: http://192.168.1.40:6767
            key: d044ae2a238656e9ebc45487ef27905b
      - Prowlarr:
          icon: prowlarr.png
          href: https://prowlarr.erwanleboucher.dev
          description: Indexer Manager
          widget:
            type: prowlarr
            url: http://192.168.1.40:9696
            key: ebf8d2bab26d416c9bf9aa02410fc941
      - qBittorrent:
          icon: qbittorrent.png
          href: https://qbit.erwanleboucher.dev
          description: Downloader
          widget:
            type: qbittorrent
            url: http://192.168.1.40:8081
            username: admin
            password: n%ld2ASo1ZOiQL*BdCSM # Default (Change if you updated it)

    - System:
      - AdGuard Home:
          icon: adguard-home.png
          href: https://dns.erwanleboucher.dev
          description: DNS Sinkhole
          widget:
            type: adguard
            url: http://192.168.1.54:3000
      - Portainer:
          icon: portainer.png
          href: https://portainer.erwanleboucher.dev
          description: Docker Management
          widget:
            type: portainer
            url: http://192.168.1.40:9000
            env: 3 # Usually 2 (local), check ID in Portainer URL
            key: ptr_7baNtqr6I1H65Gm2J3gFwRU9kGYr/gG9lV4Csc95N0s=
      - Portainer:
          icon: portainer.png
          href: https://portainer.erwanleboucher.dev
          description: kubernetes Management
          widget:
            type: portainer
            url: http://192.168.1.40:9000
            env: 5 # Usually 2 (local), check ID in Portainer URL
            key: ptr_7baNtqr6I1H65Gm2J3gFwRU9kGYr/gG9lV4Csc95N0s=
      - Beszel:
          icon: beszel.png
          href: https://monitor.erwanleboucher.dev
          description: Monitoring
          widget:
            type: beszel
            url: http://192.168.1.40:8090
            username: erwanleboucher@gmail.com
            password: 6hyGReagBeovI03A
            version: 2
      - Uptime kuma:
          icon: uptimekuma.png
          href: https://monitor.erwanleboucher.dev
          description: Monitoring
          widget:
            type: uptimekuma
            url: http://192.168.1.56
            slug: default


  bookmarks:
    - Resources:
      - GitHub:
          - icon: github.png
            href: https://github.com/
      - Cloudflare:
          - icon: cloudflare.png
            href: https://dash.cloudflare.com/
      - n8n:
          - icon: n8n.png
            href: https://n8n.erwanleboucher.dev
            description: Workflows
      - Profilarr:
          - icon: wizard.png
            href: https://profilarr.erwanleboucher.dev
            description: Profile Manager

  # Pipe goes here
  docker: {}
