---
apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
  namespace: docker-services
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: qbittorrent
  namespace: docker-services
subsets:
- addresses:
  - ip: 192.168.1.40
  ports:
  - port: 8081
---
