---
apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate-config
  namespace: automation
data:
  config.js: |-
    module.exports = {
      platform: 'github',
      autodiscover: false,
      onboarding: false,
      requireConfig: 'optional',
      gitAuthor: process.env.RENOVATE_GIT_AUTHOR,
    };
