---
apiVersion: v1
kind: Service
metadata:
  name: n8n
  namespace: docker-services
spec:
  type: ClusterIP
  ports:
    - port: 5678
      targetPort: 5678
      protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: n8n
  namespace: docker-services
  labels:
    kubernetes.io/service-name: n8n
addressType: IPv4
endpoints:
  - addresses:
      - 192.168.1.40
ports:
  - port: 5678
    protocol: TCP
